<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let user of users | async" size-xs="12" size-sm="6" size-md="4" size-lg="2" size-xl="1" >
          <ion-card>
          <ion-item>
            <ion-avatar item-start>
              <img [src]="user.picture.medium">
            </ion-avatar>
            <h2>{{ user.name.first }} {{ user.name.last }}</h2>
          </ion-item>
          <ion-card-content>
            Sexo: {{user.gender}}<hr>
            Ciudad: {{user.location.city}}<hr>
            País: {{user.location.country}}<hr>
            Email: {{user.email}}<hr>
            Edad: {{user.registered.age}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
